{% load static %}

<a href="/"><img src="{% static '/img/logo.svg' %}" alt="Interior"></a>
<ul class="menu clearfix">
    <li class="nav-list"><a class="nav-link" href="{% url 'main' %}">HOME</a></li>
    <li class="nav-list"><a class="nav-link" href="{% url 'products' %}">PRODUCTS</a></li>
    <li class="nav-list"><a class="nav-link" href="#">HISTORY</a></li>
    <li class="nav-list"><a class="nav-link" href="#">SHOWROOM</a></li>
    <li class="nav-list"><a class="nav-link" href="{% url 'contact' %}">CONTACT</a></li>
    <li class="nav-list">
        <a class="nav-search" href="#"><img src="{% static '/img/search.svg' %}" alt="Search"></a>
    </li>
</ul>